<h1>
    Courses
</h1>

<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.CourseId}}</td>
        <td>{{this.courseName}}</td>
    </tr>
    {{/each}}
</table>